$primary-normal: #9f9fd1;
$primary-dark: #5f5f7d;
$primary-light: #d8d8ec;


$secondary-normal: #d1d19f;
$secondary-dark: #654c59;
$secondary-light: #ead6e0;


$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #90EE90;
$red-dark: #90EE90;
$red-light: #90EE90;
